*.tgz filter=lfs diff=lfs merge=lfs -text
Packages/com.ptc.vuforia.engine-10.14.4.tgz filter=lfs diff=lfs merge=lfs -text
1 filter=lfs diff=lfs merge=lfs -text
Assets/Models/Page filter=lfs diff=lfs merge=lfs -text
Assets/Models/Page[[:space:]]1[[:space:]]&[[:space:]]Cover[[:space:]]Page/V3/Mainhouse/Page1_MainHouseV3.fbx filter=lfs diff=lfs merge=lfs -text
Assets/'A[[:space:]]Chili[[:space:]][[:space:]]AR'/'3D[[:space:]]Models' filter=lfs diff=lfs merge=lfs -text
Assets/_AR filter=lfs diff=lfs merge=lfs -text
Assets/_AR/* filter=lfs diff=lfs merge=lfs -text
Assets/'A[[:space:]]Chili[[:space:]][[:space:]]AR' filter=lfs diff=lfs merge=lfs -text
Assets/A[[:space:]]Chili[[:space:]][[:space:]]AR/Pages/Page1/Page1.fbx filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
Assets/A[[:space:]]Chili[[:space:]][[:space:]]AR/Pages/*/*/*.tif filter=lfs diff=lfs merge=lfs -text
Assets/A[[:space:]]Chili[[:space:]][[:space:]]AR/Pages/*/*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/A[[:space:]]Chili[[:space:]][[:space:]]AR/_Creepy_Cat/3D[[:space:]]Games[[:space:]]Effects[[:space:]]Pack[[:space:]]Free/_Showroom/Textures/Hard_Surface_01_Metal.tif filter=lfs diff=lfs merge=lfs -text
Chili filter=lfs diff=lfs merge=lfs -text
AR/Pages/Page11/Page11.fbm/house07.tif filter=lfs diff=lfs merge=lfs -text
Assets/A filter=lfs diff=lfs merge=lfs -text
Assets/A[[:space:]]Chili[[:space:]][[:space:]]AR/Pages/Page11/Page11.fbm/house07.tif filter=lfs diff=lfs merge=lfs -text
Assets/A[[:space:]]Chili[[:space:]][[:space:]]AR/Pages/Page5/Page5.fbx filter=lfs diff=lfs merge=lfs -text